.correct {
    -fx-background-color: #548C2F;
}
.incorrect {
    -fx-background-color: #C1292E;
}
.reset_button {
    -fx-background-color: #D8D8F6;
}

.button {
    -fx-border-radius: 5px;
}
.button:disabled {
    -fx-opacity: 1.0;
}